<h3>About</h3>

Sustainable clothing for the future
<ul class="fa-ul">
  <li>
    <span class="fa-li"><i class="fas fa-spinner fa-pulse"></i></span>
    We find the quality clothing from thrift stores, then re-designed to meet
    current trend
  </li>
  <li>
    <span class="fa-li"><i class="fas fa-spinner fa-pulse"></i></span>Every
    clothing is individually picked, design, and hand painted
  </li>
  <li>
    <span class="fa-li"><i class="fas fa-spinner fa-pulse"></i></span>They are
    comfortable street and casual wear
  </li>
</ul>

<p class="small-caption">
  <span
    >Primary artist: Mina D. Mina D. is an artist whose work focused on patterns
    and abstracts. You could find her work here
  </span>
</p>
