.site-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 1rem;
}

ul {
  list-style-type: none;
  margin: 0;
}

li {
  display: inline-block;
  padding: 0 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

li:hover {
  background-color: rgb(79, 102, 15)
}

.main-menu {}
