<div class="content">
  <a [routerLink]="['/products']">Back</a>

  <div *ngIf="product$ | async as product; else loading">
    <h2>{{ product.title }}</h2>
    <div class="message-bar" *ngIf="alertMessage">
      {{ alertMessage }}
      <button class="add-to-cart-button" [routerLink]="['/shopping-cart']">
        View Cart
      </button>
    </div>
    <div class="content-row">
      <div class="img-column">
        <img src="{{ selectedImage$ | async }}" alt="{{ product.title }}" />
        <div class="image-galery">
          <ul>
            <li *ngFor="let imgSrc of product.images; let idx = index">
              <img [src]="imgSrc" (click)="onImageClick(idx)" />
            </li>
          </ul>
        </div>
      </div>
      <div class="product-detail-column">
        <div>
          <div *ngIf="product.salePrice != 0" class="sale-price-section">
            <div class="sale-price-label">SALE</div>
            <div class="sale-price">{{ product.salePrice | currency }}</div>
          </div>
          <div class="regular-price-section">
            <span *ngIf="product.salePrice != 0">Regular: </span>
            <span
              [ngClass]="
                product.salePrice != 0
                  ? 'regular-price-secction-normal'
                  : 'regular-price-section-bold'
              "
            >
              {{ product.price | currency }}</span
            >
          </div>
        </div>
        <hr />
        <div class="small-caption">
          Since each of our product is uniquely hand made, there is only 1 size,
          1 item available.
        </div>
        <hr />
        <div class="add-to-cart-section">
          <div class="size-label">Size: {{ product.sizes[0] }}</div>
          <button class="add-to-cart-button" (click)="onAddToCart()">
            Add to cart
          </button>
        </div>

        <div class="product-description">
          <h2>Description</h2>
          {{ product.description }}
        </div>
      </div>
    </div>
  </div>
  <ng-template #loading>
    <div style="text-align: center; font-size: 1.5rem;">
      Loading user data...
    </div>
  </ng-template>
</div>
